
.card{
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 .5rem 0 rgba(0,0,0,.2);
  margin-top: 50px;
}
.card-header {
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.card-no-style{
  padding: 1rem;
}

.card-margin-bottom{
  margin-bottom: 1rem;
}