@import "./variables.scss";
.collection{
  display: flex;
  flex-wrap: wrap;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  padding-top: $navigation-height;
}

.main-inner{
  width:80%;
  min-height: 100%;
  margin:auto;
  position: relative;
}


@for $i from 1 through 12 {
  .width-#{$i} {
    width: 100% / 12 * $i;
  }
}
