@import "./variables.scss";
.collection{
  display: flex;
  flex-wrap: wrap;
}

.collection-projekte {
  padding:1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
}

.main-inner{
  width:80%;
  min-height: 100%;
  margin:auto;
  position: relative;
}


@for $i from 1 through 12 {
  .width-#{$i} {
    width: 100% / 12 * $i;
  }
}
