@import "./resets/reset.scss";
@import "./resets/custom_reset.scss";


@import "./typography.scss";
@import "./flex.scss";
@import "./layout.scss";
@import "./card.scss";


$darkGrey : #2c3e50;
#app {
  width:100%;
  height:100%;
  color: $darkGrey;
  position: relative;
}